[DEFAULT]
bind_ip = 0.0.0.0
bind_port = {{ proxy_port }}
log_level = INFO
user = hummingbird
tempauth_enabled = false

[app:proxy-server]
allow_account_management = true
account_autocreate = true

[filter:cache]
memcache_servers = {{ groups['hummingbird'] | map('extract', hostvars, ['service_ip']) | join(':11211,') }}:11211

[filter:tempauth]
user_admin_admin = admin .admin .reseller_admin
user_test_tester = testing .admin
user_test2_tester2 = testing2 .admin
user_test_tester3 = testing3

[filter:authtoken]
paste.filter_factory = keystonemiddleware.auth_token:filter_factory
auth_uri = {{ auth_uri }}
auth_url = {{ auth_url }}
auth_plugin = password
project_domain_id = default
user_domain_id = default
project_name = service
username = {{ authtoken_username }}
password = {{ authtoken_password }}
cache = swift.cache
include_service_catalog = False
delay_auth_decision = True

[filter:keystoneauth]
reseller_prefix = AUTH
operator_roles = admin, swiftoperator
reseller_admin_role = ResellerAdmin
GLANCE_service_roles = service
default_domain_id = default
allow_names_in_acls = false

[filter:catch_errors]

[filter:healthcheck]

[filter:proxy-logging]

[filter:ratelimit]

[filter:dlo]

[filter:slo]

[filter:tempurl]

[filter:staticweb]

[filter:copy]
