[swift-hash]
swift_hash_path_prefix = {{ hash_prefix }}
swift_hash_path_suffix = {{ hash_suffix }}

[storage-policy:0]
name = Policy-0
policy_type = replication
default = yes
aliases = yellow, orange
