Source: hummingbird
Section: devel
Priority: extra
Maintainer: Michael Barton <michael.barton@rackspace.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.3
Homepage: http://github.com/rackerlabs/hummingbird

Package: hummingbird
Architecture: amd64
Depends: ${misc:Depends}
Description: A golang implementation of some parts of Swift
 Currently implements the swift object server functionality 
 in golang.

